/* Colors */
$black: #000;
$white: #fff;
$lt-primary-color: #8ad2e6;
$md-primary-color: #49b2cf;
$lt-secondary-color: #eb7e23;
$lt-gray: #d3d3d3;
$dk-gray: #2e2a25;

$error: red;

$column: 80px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1364px;
$max-page-width: 2000px;
$container-padding: 42px;
$large-container-padding: 42px;
$small-container-padding: 20px;

/* Margin topa nd bottom on block element items */
$large-block-margin: 30px;
$small-block-margin: 20px;

/* Margin on position-right and left floated items */
$large-position-margin: 35px;
