.pagination {
  @extend %block-margin;

  ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0;
    @extend %clearfix;
  }

  li {
    display: inline-block;
    margin-right: 8px;
    padding-left: 0;

    &::before {
      display: none;
    }

    a {
      display: block;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      @include responsive-font(26px, 26px);
      color: $black;
      font-weight: 300;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $black;
      }

      span {
        color: $black;
        @include responsive-font(20px, 20px);
      }
    }

    &.current {
      background: $black;
      z-index: 5;

      &:hover,
      &:focus {
        outline: none;
      }

      a {
        color: $white;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    &.previous {
      margin-right: 6px;
    }

    &.next {
    }
  }
}
